:root {
  --cod-gray: #191919;
  --white: #FFF;
  --radius: 0.375rem;
  --colums: 1;
  --max-photos: 5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cod-gray);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.grid {
  background-color: var(--white);
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(var(--colums), minmax(10px, 1fr));
  padding: 0.75rem;
  max-height: 360px;
  width: 100%;

  /* when there's only 1 photo */
  /* .photo-gallery:has(div:nth-child(1)) {
    @apply grid-cols-1;
    img {
      @apply max-h-[616px] h-full;
    }
  } */

  /* when there's 2 photos */
  &:has(.grid__item:nth-child(2)),
  &:has(.grid__item:nth-child(4)) {
    --colums: 2;
  }

  /* when there's 3 photos */
  &:has(.grid__item:nth-child(3)) {
    --colums: 2;

    > .grid__item:nth-child(3) {
      grid-column: span 2;
    }
  }

  /* when there's 5 photos */
  &:has(.grid__item:nth-child(5)) {
    --colums: 6;

    > .grid__item:nth-child(1),
    > .grid__item:nth-child(2) {
      grid-column: span 3;
    }

    > .grid__item:nth-child(3),
    > .grid__item:nth-child(4),
    > .grid__item:nth-child(5) {
      grid-column: span 2;
    }
  }

  /* when there's 6 or more photos */
  /* &:has(.grid__item:nth-child(var(--max-photos))) { */
  &:has(.grid__item:nth-child(6)) {
    /* since there's 5 photos already showing, we start at -5 */
    counter-set: photo-count -5;
    counter-reset: photo-count;

    /* this shows an overlay on the 5th photo *
    > .grid__item:nth-child(5) {
      @apply bg-black rounded-lg col-start-5 col-span-2 row-start-2;
      img {
        @apply opacity-50;
      }
    }

    /* this hides the photos that are beyond the 5th *
    > div:nth-child(n + 6) {
      @apply col-start-5 col-span-2 row-start-2;
      img {
        @apply hidden;
      }
    }
    > div {
      @apply relative z-10;
    }
    /* this displays the counter *
    > div:before {
      display: block;
      /* We want to hide the count and only show for the very last photo.
        we're using visibility instead of display because if you set display to
        none then it's not included in the count *
      visibility: hidden;
      content: "+" counter(photo-count);
      counter-increment: photo-count;
      @apply text-[100px] font-bold absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-white z-20;
    }
    /* this shows the counter for the last photo 
    > div:last-of-type:before {
      visibility: visible;
    }
    */
  }
}

.grid__item {
  border: 1px solid var(--cod-gray);
  border-radius: var(--radius);
  width: 100%;

  & img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
