:root {
  --cod-gray: #191919;
  --white: #FFF;
  --radius: 0.375rem;
  --colums: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cod-gray);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.grid__item {
  border-radius: var(--radius);
  min-height: 100%;
  overflow: hidden;
  width: 100%;

  > img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.grid {
  background-color: var(--white);
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(var(--colums), minmax(10px, 1fr));
  height: 30rem;
  padding: 0.75rem;
  width: 100%;

  /* when there're 2 photos */
  &:has(.grid__item:nth-child(2)),
  &:has(.grid__item:nth-child(4)) {
    --colums: 2;
  }

  /* when there're 3 photos */
  &:has(.grid__item:nth-child(3)) {
    --colums: 2;

    > .grid__item:nth-child(3) {
      grid-column: span 2;
    }
  }

  /* when there're 4 photos */
  &:has(.grid__item:nth-child(4)) {
    > .grid__item:nth-child(3) {
      grid-column: span 1;
    }
  }

  /* when there're 5 photos */
  &:has(.grid__item:nth-child(5)) {
    --colums: 6;

    > .grid__item:nth-child(1),
    > .grid__item:nth-child(2) {
      grid-column: span 3;
    }

    > .grid__item:nth-child(3),
    > .grid__item:nth-child(4),
    > .grid__item:nth-child(5) {
      grid-column: span 2;
    }
  }

  /* when there're 6 or more photos */
  &:has(.grid__item:nth-child(6)) {
    counter-reset: photo-count;
    counter-set: photo-count -5;
    padding-bottom: 0;

    > .grid__item {
      counter-increment: photo-count;
    }

    > .grid__item:nth-child(n + 5) {
      visibility: hidden;

      > img {
        display: none;
      }
    }

    > .grid__item:last-child {
      grid-column: 5 / span 2;
      grid-row-start: 2;
      position: relative;
      visibility: visible;

      > img {
        display: block;
      }

      &::after {
        content: "";
        background-color: var(--cod-gray);
        display: block;
        inset: 0;
        position: absolute;
        opacity: 0.5;
        z-index: 1;
      }

      &::before {
        content: "+ " counter(photo-count);
        display: block;
        color: var(--white);
        font-size: 6.25rem;
        font-weight: bold;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }
  }
}
