:root {
  --cod-gray: #191919;
  --white: #FFF;
}

* {
  box-sizing: border-box;
  color: var(--cod-gray);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  min-height: 100vh;
  padding: 1rem;
}

.heading {
  align-items: center;
  display: flex;
  font-size: 7.375rem;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  line-height: 1.13;
  margin-bottom: 2rem;

  &::before, &::after {
    content: "";
    background-color: var(--cod-gray);
    flex: 1;
    height: 0.04em;
  }
  
  &:not(:empty)::before {
    margin-right: 0.35em;
  }

  &:not(:empty)::after {
    margin-left: 0.35em;
  }
}
